<div class="animeLeft">
  <nav class="mb-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/lancamentos">Lançamentos</a></li>
      <li class="breadcrumb-item active">Formulário de lançamentos</li>
    </ol>
  </nav>

  <div class="row mb-5">
    <div class="col-9">
      <h1 class="h2 border-left pl-4 ">
        {{ titulo }}
      </h1>
    </div>
    <div class="col-3">
      <a routerLink="/lancamentos" class="btn btn-secondary float-right ">
       Voltar para lista de lançamentos
      </a>
    </div>
  </div>

  <form [formGroup] = "lancamentoForm" (submit) = "onSubmit()">
    <div class="card mb-4">
      <div class="card-header">
        Informações sobre o lançamento
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="nome">Nome</label>
            <input type="text" name="" id="nome" class="form-control" formControlName="nome">

            <!--Mensagens de erro-->
            <div class="text-danger" *ngIf="lancamentoForm.get('nome').invalid && lancamentoForm.get('nome').touched">
              <div *ngIf="lancamentoForm.get('nome').errors.required">Por favor, insira um nome</div>
              <div *ngIf="lancamentoForm.get('nome').errors.minlength">Mínimo de dois caracteres</div>
            </div>
          </div>

          <div class="form-group col-md-8">
            <label for="descricao">Descrição</label>
            <input type="text" name="" id="descricao" class="form-control" formControlName="descricao">
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-danger mt-4 animeLeft" *ngIf="errorsMessages">
      <strong>Erro no contato com servidor</strong>
      <ul>
        <li *ngFor="let error of errorsMessages"> {{ error }} </li>
      </ul>
    </div>

    <button type="submit" [disabled] = "lancamentoForm.invalid || submittingForm " 
      class="btn btn-success btn-lg float-right">
      Salvar
    </button>
  </form>

</div>